# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# env
.env
.env.local
.env*.local
!.env.local.example

# misc
.DS_Store
*.pem
*.tsbuildinfo
npm-debug.log*

# vercel
.vercel
